.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  display: inline-block;
}

.pagination button {
  background-color: transparent;
  color: Black;
  border: 1px solid grey;
  padding: 4px 16px;
  cursor: pointer;
  margin: 4px; /* Remove margin */
  border-radius: 8px;
}

.pagination button:hover {
  background-color: #0082b4;
  color: white;
}

.pagination button.active {
  border: 1px solid #0082b4;
  background-color: #c9e2e7;
  color: #0082b4;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button.prev, .pagination button.next {
  border-radius: 0;
}