.App{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropDown{
    background-color: white;
    display: flex;
    flex-direction: column;
    border:1px solid black;
}
.dropDown-empty{
    border: none;
}
.dropDown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 5px;
    color: black;
}