

#tableDesi {
  /* border-collapse: collapse; */
  border: 1px solid rgb(99, 95, 95); 
  border-radius: 10px;
  width: 50% ;
  margin-left: 25%;
  margin-top: 3%;
} 
.trlogin{
  padding-left: 2%;
  margin-left: 5px;
  
}
.tdStyling{
  text-align: right;
  padding-right: 1%;
  /* padding-left: 5%; */
  height: 100px;
  margin-top: 3%;

}
.category a {
text-decoration: none;
color: #333; /* Adjust the color as needed */
}
.butts{
width:100px;
background-color: rgb(245, 190, 52);
border-radius: 10%;
border: #bdbaba;

}