#imgCat {
    margin: 10px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
        2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    /* padding: 0px 10px; */
    /* margin-right: 10px; */
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 1s;
    background-color: white;
    border-radius: 10px;
}